@charset "utf-8";

/* id em css é '#' seguido do nome do id
   classe em css é ' . ' seguido do nome */


body{
    background-color: rgb(150, 76, 27);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkblue;
}
#principal{
    color: darkred;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(46, 10, 10);
}

h2{
    color: darkslategray;
}
